name: Auto pull to prod

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Pull latest code
        run: |
          cd /home/caramey/prod
          git fetch origin main
          git reset --hard origin/main
